ul {
  list-style-type: square;
}

body {
  background-image: url("assets/email-pattern.png");
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

#dataviz {
  background-color: antiquewhite;
}

#datavizcontrol {
  background-color: antiquewhite;
}

.scene1link {
  background-color: #ecf0f1;
  padding: 6px 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

#about_text {
  margin-left: 80%;
  position: absolute;
  margin-right: 50px;
  padding-top: 30px;
}

#about_text_wide {
  margin-left: 70%;
  position: absolute;
  margin-right: 50px;
  padding-top: 30px;
}

.navmenu {
  overflow: hidden;
  background-color: #2c3e50;
}

.navmenu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.navmenu a:hover {
  background-color: #ddd;
  color: black;
}

.navmenu a.active {
  background-color: #9b59b6;
  color: white;
}

.mean {
  stroke-width: 3px;
  stroke: #2c2c54;
}

.mean3 {
  stroke-width: 3px;
  stroke: #d35400;
}

.mean2 {
  stroke-width: 3px;
  stroke: #e74c3c;
}

.main_title {
  border-left: 5px solid #74b9ff;
  padding-left: 20px;
  background-color: #81ecec;
}

.fig_title {
  border-left: 5px solid #ff7675;
  margin: 10px;
  padding-left: 10px;
  background-color: #fab1a0;
}

/* tablet */
@media only screen and (max-width: 1300px) {
  #about_text,
  #about_text_wide {
    margin-left: 0%;
    position: relative;
  }
}
